.idea
GUI/__pycache__
__pycache__
data/.keep
data/crea2.yml
data/c.yml
data/duyloc1.yml
data/duyloc2.yml
data/hoangduyloc.yml
data/duyloc.yml
data/test.yml
backend/node_modules
backend/package-lock.json
cfg/yolov3_tan.cfg
cfg/yolov3_tiny_training.cfg
cfg/yolov3-custom.cfg
cfg/yolov3-tiny-60000.cfg
cfg/yolov3-tiny-custom.cfg
cfg/yolov3-tiny-tan.cfg
cfg/yolov3-tiny.cfg
utils
Vehicle-detection
videos/0.png
videos/license_plate.mp4
videos/night_blur_test.gif
videos/night.mp4
videos/parking_lot_2.mp4
videos/plate.mp4
videos/test.MOV
videos/test.mp4
videos/test1.mp4
videos/test2.mp4
videos/video_2.mp4
videos/video_3.mp4
weights
cor1.p
LICENSE
main.py
MANIFEST.in
park_clever.ipynb
regions.p
register_new_pi.py
requirements.txt
setup.cfg
setup.py
test.py
yolo_tiny_traning.txt
yolo.py
yolov3-tiny.names
yolov3.txt